.section-details {
  height: 100%;

  .section-content {
    display: flex;
    height: 100%;
  
    .section-pages {
      flex: 1;
      max-width: 20rem;

      height: 100%;
      display: flex;
      flex-direction: column;

      &-menu {
        height: 0;
        flex: 1;
        overflow-y: auto;
        position: relative;

        .add-new-page-btn {
          position: absolute;
          bottom: 8px;
          right: 8px;
        }
      }
    }
  
    .page-content {
      flex: 3;
    }
  }
}
