%flex-initial {
  display: flex;
}

.flex {
  @extend %flex-initial;

  &-column {
    @extend %flex-initial;
    flex-direction: column;
  }

  &-align-items-center {
    @extend %flex-initial;
    align-items: center;
  }

  &-justify-content-end {
    @extend %flex-initial;
    justify-content: flex-end;
  }

  &-justify-content-center {
    @extend %flex-initial;
    justify-content: center;
  }
}

@mixin flex-x-list {
  @for $i from 1 through 12 {
      .flex-#{$i} { flex: $i; }
  }
}

.width {
  &-full {
    width: 100%;
  }
}

.height {
  &-full {
    height: 100%;
  }

  &-stub {
    height: 0;
  }
}

.margin {
  @for $i from 1 through 25 {
    &-bottom-#{$i} { margin-bottom: #{$i}rem; }
  }

  @for $i from 1 through 25 {
    &-top-#{$i} { margin-top: #{$i}rem; }
  }

  @for $i from 1 through 25 {
    &-left-#{$i} { margin-left: #{$i}rem; }
  }

  @for $i from 1 through 25 {
    &-right-#{$i} { margin-right: #{$i}rem; }
  }

  @for $i from 1 through 25 {
    &-x-#{$i} { margin-left: #{$i}rem; margin-right: #{$i}rem; }
  }
}

@include flex-x-list;