.sections-menu {
  .ant-menu-item {
    font-size: 16px;
    opacity: 0.7;
    font-weight: 500;

    .ant-menu-title-content {
      opacity: 0.7;
    }

    &.ant-menu-item-selected {
      .ant-menu-title-content {
        opacity: 1;
      }
    }
  }
}