.sections-menu {
  .add-new-section-btn {
    margin-left: 4px;
  }

  .ant-menu-item {
    font-size: 16px;
    opacity: 0.7;
    font-weight: 500;

    .ant-menu-title-content {
      opacity: 0.7;
    }

    &.ant-menu-item-selected {
      .ant-menu-title-content {
        opacity: 1;
      }
    }
  }
}

.context-menu-popover {
  margin: -4px -12px;
}